
// On importe les styles de base
@import '../BaseCard/BaseCard.module.scss';

// Styles spécifiques pour l'intérieur de NormalCard
.internBox {
  @apply rounded-lg p-10;
  background-color: rgba(7, 0, 0, 0.35);
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.content {
  @apply text-white text-xl;
}