// src/app/components/Card/ServiceCard/ServiceCard.module.scss

.glassCard {
  background: linear-gradient(#fff3, transparent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
}

.titleBox {
  --from-color: var(--card-color, rgba(89, 64, 211, 0.1));
  --to-color: color-mix(in srgb, var(--from-color), rgba(0, 0, 0, 0.5));
  border: 1px solid rgba(255, 255, 255, 0.1);
  
  background: linear-gradient(180deg, var(--from-color) 0%, var(--to-color) 100%);
  box-shadow: 
    2.19px 2.19px 2.19px rgba(0, 0, 0, 0.25),
    inset -1.09px 2.19px 3.82px rgba(255, 255, 255, 0.2);
}

.internBox {
  background-color: rgba(7, 0, 0, 0.35);
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.circle {
  --from-color: var(--card-color, rgba(89, 64, 211, 0.1));
  --to-color: color-mix(in srgb, var(--from-color), rgba(0, 0, 0, 0.5));
  
  background: linear-gradient(180deg, var(--from-color) 0%, var(--to-color) 100%);
  box-shadow: 
    2.19px 2.19px 2.19px rgba(0, 0, 0, 0.25),
    inset -1.09px 2.19px 3.82px rgba(255, 255, 255, 0.2);
}