/* LaptopAnimation.module.scss */

/* Conteneur principal */
.laptopWrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

/* L'image occupe toujours 100% de la largeur du conteneur et garde son ratio */
.laptopImage {
  width: 100% !important;
  height: auto !important;
}

/* Mobile par défaut (en dessous de 640px) */
@media (max-width: 639px) {
  .laptopWrapper {

      width: 300px; /* Largeur fixe intermédiaire pour lg */
      margin: 0 auto;
    
  }
}

/* Écrans petits (sm : 640px - 767px) */
@media (min-width: 640px) and (max-width: 767px) {
  .laptopWrapper {
    width: 600px; /* Largeur fixe intermédiaire pour lg */
    margin: 0 auto;
  }
}

/* Écrans moyens (md : 768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .laptopWrapper {
    width: 800px; /* Largeur fixe intermédiaire pour lg */
    margin: 0 auto;
  }
}

/* Écrans larges (lg : 1024px - 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .laptopWrapper {
    width: 800px; /* Largeur fixe intermédiaire pour lg */
    margin: 0 auto;
  }
}

/* Écrans extra-larges (xl : 1280px - 1535px) */
@media (min-width: 1280px) and (max-width: 1535px) {
  .laptopWrapper {
    width: 1000px; /* Largeur fixe pour xl */
    margin: 0 auto;
  }
}

/* Très grands écrans (2xl : 1536px et plus) */
@media (min-width: 1536px) {
  .laptopWrapper {
    width: 1200px; /* Largeur fixe pour 2xl */
    margin: 0 auto;
  }
}

/* Animation fadeIn si nécessaire */
.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
