@import '/src/app/styles/mixins.scss';

.glassContact {
    @include glass-base;
    @apply flex flex-col p-10 gap-y-10 w-full h-fit;
  }
  
  .internBoxContact {
    @include internBoxBase;
    @apply h-4 text-white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .internBoxContact:focus {
    outline: none;
    border: 2px solid rgba(89, 64, 211, 0.3);
  }
  
  
  
  .message {
    @apply h-72;
  }
  
  
  .submitButton {
    @include titleBoxBase;
    @apply rounded-full w-full p-2;
  }
  
  