@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playball';
  src: url('/fonts/Playball-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/font/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/public/font/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
}

body {
  background-color: #0F0E12;
  padding: 16px;
}

@layer utilities {
  .neon-word {
    @apply text-xs sm:text-lg md:text-xl lg:text-2xl xl:text-3xl transition-all duration-1000 ease-in-out;
    font-family: "Courier New", monospace;

     /* Couleur principale : dégradé violet-bleu */
     background: linear-gradient(to bottom, #e0e0ff, #4b0082, #1e90ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 
     /* Lueur néon amplifiée */
     text-shadow:
       0 0 15px #4b0082,    /* Première couche violet foncé */
       0 0 25px #1e90ff,    /* Deuxième couche bleu électrique */
       0 0 35px #6a5acd,    /* Troisième couche bleu-violet lumineux */
       0 0 45px #4b0082,    /* Quatrième couche violet intense */
       0 0 60px #1e90ff,    /* Cinquième couche bleu vif */
       0 0 80px #6a5acd,    /* Dernière couche pour diffusion maximale */
       0 0 100px #1e90ff;   /* Effet supplémentaire lointain */
   }
 
   .dimmed {
     opacity: 0.3;
     text-shadow:
       0 0 10px #2c2c54, /* Violet sombre pour l'effet atténué */
       0 0 15px #3b3b98;
   }
 }

 .left {
  position: absolute;
  background-color: #0F0E12;
  width: 100%;
  height: 79%; 
  clip-path: inset(0 50% 0 0);
  transition: clip-path 1s ease-in-out, z-index 1s ease-in-out;
  z-index: 1;
  
}

.left:hover {
  clip-path: inset(0 0 0 0);
  z-index: 2;
  
}

/* right */
.right {
  position: absolute;
  background-color: #0F0E12;
  width: 100%;
  height: 80%; 
  clip-path: inset(0 0 0 50%);
  transition: clip-path 1s ease-in-out, z-index 1s ease-in-out;
  z-index: 1
}

.right:hover {
  clip-path: inset(0 0 0 0);
  z-index: 2;
  
}

/*card*/

