@use '/src/app/styles/mixins.scss' as mixins;

//card

.internBox {
  @apply rounded-lg p-5 sm:p-12;
  background: linear-gradient(#fff3, transparent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
}

//cardProject
.glassCardProject {
    @include mixins.glass-base;
    @apply flex flex-col rounded-2xl;
    height: 500px;
    width: 30%;
    min-width: 316px; // On enlève cette contrainte pour mobile
  
    @media (max-width: 1024px) {
      width: 192px;
      height: 288px;
      border-radius: 10px;
      min-width: unset; // Important : annule le min-width pour mobile
    }
  }

  
  .imageContainer {
    @apply m-auto p-2;
    height: 80%;
  
    @media (max-width: 768px) {
      height: 75%;
      padding: 1px; // Réduit le padding pour mobile
    }
  }
  
  .boxBottomCard {
    @apply rounded-b-xl flex justify-center px-2;
    height: 20%;
    background: rgba(75, 75, 75, 0.7);
  
    @media (max-width: 768px) {
      height: 25%;
      padding: 0 1px; // Réduit le padding pour mobile
    }
  }
  
  // Carousel controls
  .carouselContainer {
    &:hover .carouselControls {
      opacity: 1;
    }
  }
  
// Animations de fade
// Container du carousel
.carouselWrapper {
    @apply relative w-1/2 h-80;
  }
  
  // Styles de carte
  .carouselCard {
    @apply absolute cursor-pointer;
    transition: all 0.7s ease-in-out;
  }
  
  .inactive {
    filter: blur(0.8px);
  }
  
  .activeCard {
    &:hover {
      animation: bounce3D 4s infinite ease-in-out;
    }
  
    > div {
      position: relative;
      overflow: hidden;
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          transparent,
          rgba(255, 255, 255, 0.2),
          transparent
        );
        transform: skewX(-15deg);
        animation: shine 2.5s infinite;
        z-index: 2;
        border-radius: inherit;
      }
    }
  }
  
  .description-section {
    h4 {
      @apply text-lg font-semibold border-b border-purple-600 pb-1 mb-3;
    }
    
    .feature-list {
      @apply pl-6 space-y-2;
      
      li::before {
        content: '▹';
        @apply text-purple-400 mr-2;
      }
    }
  }

  .circle {
    background: linear-gradient(180deg, rgba(89, 64, 211, 0.1) 0%, rgba(46, 33, 109, 0.1) 100%);
    box-shadow: 
      2.19px 2.19px 2.19px rgba(0, 0, 0, 0.25),
      inset -1.09px 2.19px 3.82px rgba(255, 255, 255, 0.2);
  }

  .titleBox {
    background: linear-gradient(180deg, rgba(89, 64, 211, 0.1) 0%, rgba(46, 33, 109, 0.1) 100%);
    box-shadow: 
      2.19px 2.19px 2.19px rgba(0, 0, 0, 0.25),
      inset -1.09px 2.19px 3.82px rgba(255, 255, 255, 0.2);
      h3 {
        margin: 0;
        font-family: 'Plus Jakarta Sans', sans-serif;
      }
  }